lat:
long:
elev:
tz:
hzlat:
hzlong:
ozlat:
ozlong:
liblat:
liblong:
glat:
glong:
ssl_crt:
ssl_key:
url:
httppw:
port:
ifkey:
mqexu:
mqexpw:
mbapi:
puname:
ppwd:
fcuname:
fcpw:
mfapi:
mgdomain:
mgtoken:
mgsender:
mgr:
nest_cid:
nest_sec:
darksky:
maps:
pollyid:
pollykey:
withid:
withsecret:
eufyuname:
eufypw:
hacs:
mbox:
gmaps:
haddr:
oaddr: